<h1>Here are my beautiful tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.completed %> <%=link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<ul>
  <% @tasks.each do |task| %>
  <li> <%= task.title %><br><%= link_to "Delete",
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <%= link_to "Edit", task_edit_path(task)%><br> </li>
  <% end %>
</ul>
  <%= link_to "Add a task", tasks_new_path %>
